@model n01625423_cumulative_project_2.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p style="font-style:italic;">Member Since @Model.HireDate.ToString("dd-MMM-yyyy")</p>
    <p>@Model.EmployeeNumber</p>
    <p>@Model.Salary</p>
</div>